<component name="libraryTable">
  <library name="springframework.security.spring.taglibs" type="repository">
    <properties maven-id="org.springframework.security:spring-security-taglibs:5.7.3" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/security/spring-security-taglibs/5.7.3/spring-security-taglibs-5.7.3.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/security/spring-security-acl/5.7.3/spring-security-acl-5.7.3.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jdbc/5.3.22/spring-jdbc-5.3.22.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-tx/5.3.22/spring-tx-5.3.22.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/security/spring-security-core/5.7.3/spring-security-core-5.7.3.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/security/spring-security-crypto/5.7.3/spring-security-crypto-5.7.3.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/security/spring-security-web/5.7.3/spring-security-web-5.7.3.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-aop/5.3.22/spring-aop-5.3.22.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-beans/5.3.22/spring-beans-5.3.22.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-context/5.3.22/spring-context-5.3.22.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/5.3.22/spring-core-5.3.22.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/5.3.22/spring-jcl-5.3.22.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-expression/5.3.22/spring-expression-5.3.22.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-web/5.3.22/spring-web-5.3.22.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>